h3
  | Editing Railway Station
= render 'form', railway_station: @railway_station
= link_to 'Show', [:admin, @railway_station], class: 'btn btn-default'
= link_to 'Back', admin_railway_stations_path, class: 'btn btn-default'
