= form_for [:admin, route], html: { style: 'display: none', class: 'form-inline' } do |f|
  .form-group
    = f.text_field :name, class: 'form-control'
    = f.button t('.submit'), class: 'btn btn-primary'