<h1>Search and Buy Ticket</h1>
<%= form_tag results_search_path do %>
  Start station:
  <%= collection_select :search, :start_station, RailwayStation.all, :id, :name %>
  <br>
  End station:
  <%= collection_select :search, :end_station, RailwayStation.all, :id, :name %>
  <br>
  <%= submit_tag "Search" %>
<% end %>