= form_for [:admin, train], html: { style: 'display: none', class: 'form-inline' } do |f|
    .form-group
      = f.text_field :number, class: 'form-control'
    = f.button t('.submit'), class: 'btn btn-primary'